extends ../layout.pug

block content
  p Hi #{brandName} 👋
  p #{username} wants to work with you on the campaign "#{campaignName}". Here is his message:
  br
  p(style="white-space: pre-wrap;") "#{message}"
  br
  p
    | You can accept or deny this collab request from your 
    a(href=dashboardLink) campaign dashboard.
