extends ../layout.pug

block content
  p Hello #{username} 👋
  br
  p Congrats!
  p #{brandName} has chosen you to review #{productName} 🎉
  p You will soon receive #{productName} to review it.
  br
  p We have generated a unique link for your campaign. You have to include it in the top section of your video's description. Here is the link:
  p #{trackedLink}
  p Don't forget!
  p(style="margin-bottom: 20px;") Finally, once your review is online, you have to submit it on Revolt:
  p 1. Copy the link of your post
  p 2. Go to Revolt and enter the link in the Collabs section
  br
  if quote > 0
    p You will receive the $#{quote} once you have submitted your review on the platform.
  a.btn.btn-primary(href=collabLink target='_blank') See collab details
  br
  p Thanks.