extends ../layout.pug

block content
  p Bonjour #{username} 👋
  br
  p Congrats!
  p #{brandName} has chosen you to review #{productName} 🎉
  p You will soon receive #{productName} to review it.
  br
  p Don't forget!
  p(style="margin-bottom: 20px;") After making your review, there are 2 steps left to complete the collab:
  p 1. Copy the link of your post
  p 2. Go to Revolt and enter the link in the Collabs section
  br
  a(href=collabLink) 👉 See collab details 👈
  br
  p Thanks.