extends ../layout.pug

block content
  p What's up Revolt Gaming ?
  p #{brandName} want to create a campaign for their game #{campaignName}.
  p You need to fill the brief for them:
  a(href=dashboardLink) #{dashboardLink}
  p Once it's done, you can notify them using this email:
  p #{brandEmail}
  p Bye